#map {
   height: 100%;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.color-nav,
.color-button {
    background-color: #13a095;
}
.card {
    max-width: 400px;
}
.modal-header {
    background-color: #13a095;
}
.modal-header h5,
.modal-header button {
    color: #fff;
}
a {
    color: #1ba196
}
a:hover {
    color: #13a095;
}
.ocultar {
    display: none;
}
.footer {
    padding: 35px 15px 20px 15px;
    border-top: 1px dashed #1ba196;
    margin-top: 30px;
}
.footer p {
    color: #13a095;
}